.weather-container {
    .refresh-button {
        button {
            border: 3px solid #000;
            border-radius: 15px;
            background: transparent;
            padding: 15px;
            font-size: 1em;
        }
    }
}