<div class="weather-container">
    <div class="refresh-button">
        <button (click)="refresh()">Refresh</button>
    </div>

    <div *ngIf="weatherResponse === null || weatherResponse === undefined" class="loader-container">
        <app-loading-indicator></app-loading-indicator>
    </div>

    <div *ngIf="weatherResponse != null">
        <h2>{{weatherResponse.weather[0].description}}</h2>

        <h2>{{weatherResponse.main.temp - 273.15}} &deg;</h2>
    </div>

    <h3> 
        <div class="sunny" *ngIf="sunny">   
           <mat-icon>wb_sunny</mat-icon>
        </div>
        <div class="cloudy" *ngIf="cloudy">   
          <mat-icon>wb_cloudy</mat-icon>
        </div>
    </h3>
</div>